<!doctype html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!--importing style sheets-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="bivitfrontSampleApp" ng-controller="NavCtrl">

  "{{$routeParams}}"
  "{{$route.current.isIDPage}}"

    <!--TOOLBAR!!-->
    <md-toolbar layout-align="left center" class="md-primary md-whiteframe-z1 mainToolbar">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <div class="hamburgerMenuButton2" flex>
            <ng-md-icon icon={{$route.current.icon}} style="fill: white" size="36">
            </ng-md-icon>
          </div>
        </md-button>
        <div class="toolbarCurrentPage" ng-bind="NavBarTitle()">
        </div>
      </div>
    </md-toolbar>

    <!--SideNav!!-->
    <div layout="row" flex="" ng-click="toggleLeft()">
      <md-sidenav style="height:500px;" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
        <md-toolbar class="" ng-click="toggleLeft()">
          <div class="md-toolbar-tools">
            <div class="hamburgerMenuButton2 hamburgerMenuButton3">
              <ng-md-icon icon="menu" style="fill: white" size="36">
              </ng-md-icon>
            </div>
            <div class="navbarCurrentPage navbarHover" ng-bind="$route.current.title">
            </div>
          </div>
        </md-toolbar>
        <md-content layout-padding="" ng-controller="LeftNavCtrl">
          <md-list hide-md="" show-gt-md="">
            <md-list-item ng-click="navigateTo( '/' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="home" ng-class="{active:isActive('/')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/')}">Home</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ng-click="navigateTo( '/users' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="people" ng-class="{active:isActive('/users')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/users')}">Users</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/classrooms' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="school" ng-class="{active:isActive('/classrooms')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/classrooms')}">Classrooms</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/articles' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="my_library_books" ng-class="{active:isActive('/articles')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/articles')}">Articles</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ng-click="navigateTo( '/about' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="info" ng-class="{active:isActive('/about')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/about')}">About</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/contact' )">
              <div class="sideNavIcons">
                <ng-md-icon icon="help" ng-class="{active:isActive('/contact')}" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="{active:isActive('/contact')}">Contact</p>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </div>

</body>
</html>   
      <div class="Views" ng-view=""></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/svg-morpheus/compile/unminified/svg-morpheus.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!--ICONS!-->
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/classrooms.js"></script>
        <script src="scripts/controllers/users/:userid.js"></script>
        <script src="scripts/controllers/classrooms/:classroomid.js"></script>
        <script src="scripts/controllers/classroomsAdd.js"></script>
        <script src="scripts/controllers/articles.js"></script>
        <script src="scripts/controllers/articles/:articleid.js"></script>
        <script src="scripts/controllers/articlesAdd.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->

</body>
</html>
