<!doctype html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--importing style sheets-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body ng-app="bivitfrontSampleApp" ng-controller="NavCtrl">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--TOOLBAR!!-->
    <md-toolbar layout-align="left center" class="md-primary md-whiteframe-z1">
      <md-button class="md-icon-button hamburgerMenuButton" aria-label="Settings" ng-click="toggleLeft()">
      <div class="hamburgerMenuButton2">
        <ng-md-icon icon="menu" style="fill: white" size="36">
        </ng-md-icon>
      </div>
      </md-button>
      <span ng-bind="$routeParams"flex></span>
    </md-toolbar>

    <!--SideNav!!-->
    <div layout="row" flex="" ng-click="toggleLeft()">
      <md-sidenav style="height:500px;" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
        <md-toolbar class="" ng-click="toggleLeft()">
          <h1 class="md-toolbar-tools">current page here</h1>
        </md-toolbar>
        <md-content layout-padding="" ng-controller="LeftNavCtrl">
          <md-list hide-md="" show-gt-md="">
            <md-list-item ng-click="navigateTo( '/' )">
              <p>Home</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ng-click="navigateTo( '/users' )">
              <p>Users</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/classrooms' )">
              <p>Classrooms</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/articles' )">
              <p>Articles</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ng-click="navigateTo( '/about' )">
              <p>About</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo( '/contact' )">
              <p>Contact</p>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </div>


</body>
</html>   
      <div class="Views" ng-view=""></div>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

 

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/svg-morpheus/compile/unminified/svg-morpheus.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!--ICONS!-->
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/classrooms.js"></script>
        <script src="scripts/controllers/users/:userid.js"></script>
        <script src="scripts/controllers/classrooms/:classroomid.js"></script>
        <script src="scripts/controllers/classroomsAdd.js"></script>
        <script src="scripts/controllers/articles.js"></script>
        <script src="scripts/controllers/articles/:articleid.js"></script>
        <script src="scripts/controllers/articlesAdd.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->

</body>
</html>
