<div class="inflow">
    <div class="positioner">
        <div class="fabSpeedDial5" layout="column">
            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="add Classroom" ui-sref="classrooms.edit({id: classroom._id})" class="md-fab">
                            <ng-md-icon class="articleEditSubmit" icon="edit" style="fill: white" size="24">
                            </ng-md-icon>
                        </md-button>
                    </md-fab-trigger>
                </md-fab-speed-dial>
            </div>
        </div>
    </div>
</div>
<div class="articlesPage">
    <p class="pageTitle" ng-bind="classroom.name"></p>
    <p ng-bind="classroom.description"></p>
    <div ng-if="classroom.articles">
        <p>Articles</p>
    </div>
    <div>
    
