<div class="inflow">
    <div class="positioner">
        <div class="fabSpeedDial5" layout="column">
            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="add Classroom" ui-sref="classrooms.edit({id: classroom._id})" class="md-fab">
                            <md-tooltip md-direction="down" md-delay="200" md-autohide="true">
                                Edit Classroom
                            </md-tooltip>
                            <ng-md-icon class="articleEditSubmit" icon="edit" style="fill: white" size="24">
                            </ng-md-icon>
                        </md-button>
                    </md-fab-trigger>
                </md-fab-speed-dial>
            </div>
        </div>
    </div>
</div>
<div class="articlesPage classroomsPage">
    <p class="pageTitle" ng-bind="classroom.name"></p>
    <md-divider class="navDivider navDividerHalfWidth" ng-if="!$last"></md-divider>
    <p class="classroomDiscriptionShow" ng-bind="classroom.description"></p>

    <div ng-if='articles && articles[0] != null'>
        <div class="pageTitle classroomsArticleTitle">Articles</div>
        <md-divider class="navDivider navDividerHalfWidth" ng-if="!$last"></md-divider>

        <div class="articlesContainer">
            <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="15px">
                <md-grid-tile md-ink-ripple ng-repeat="article in articles | filter:articleQuery" class="md-whiteframe-z1 whiteBack" ng-class="{zRaise2: hover}" md-rowspan="2"ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="feature articleContentCardDiv">
                        <a ui-sref="articles.show({ id: article._id})"></a>
                        <div class="articleContentCard" ng-bind="article.content"></div>
                        <md-grid-tile-footer>
                            <h3 ng-bind="article.title" class="articleContentCardFooter"></h3>
                        </md-grid-tile-footer>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
    <div ng-if="!articles || articles[0] == null">
        <div class="pageTitle classroomsArticleTitle">Articles</div>
        <md-divider class="navDivider navDividerHalfWidth" ng-if="!$last"></md-divider> 
        <div class="classroomsAddArticles">
            This classroom has no articles. 
            <md-button class="md-primary" ng-click="addAnArticle()">Add an Article</md-button>
        </div>
    </div>
    <div ng-if="students">
        <div class="pageTitle classroomsArticleTitle">Students</div>
        <md-divider class="navDivider navDividerHalfWidth" ng-if="!$last"></md-divider>
        <div ng-repeat="student in students | filter:studentQuery" ng-bind="student.name"></div>
    </div>
    <div ng-if="!students">
        <div class="pageTitle classroomsArticleTitle">Students</div>
        <md-divider class="navDivider navDividerHalfWidth" ng-if="!$last"></md-divider>
        <div class="classroomsAddStudents">
            this classroom has no students. 
            <a class="classroomsAddStudents" ui-sref="classrooms.edit({id: classroom._id})">Add Students</a>
        </div>
    </div>
<div>
    
