<span class="pageTitle">New Classroom</span><span>: {{classroom.name}}</span>
<div>
<form ng-submit="create(classroom)">
    <div>
        <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="classroom.name">
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="classroom.description"></textarea>
        </md-input-container>
    <div>

    <span class="pageTitle">Add Sutdents</span>

    <md-chips 
        ng-model="classroom.students" 
        placeholder="Enter a email" 
        delete-button-label="Remove Tag" 
        delete-hint="Press delete to remove tag">
    </md-chips>

    <md-button class="md-primary md-raised btn">Update Classroom</button>

</form>
</div>