<!-- if no activeUser is set -->
<div ng-if="!activeUser">
  <!-- TOOLBAR!! -->
  <md-toolbar layout-align="left center" class="md-primary md-whiteframe-z1 mainToolbar mainToolbarNotActive">
    <div class="md-toolbar-tools">
      <div href class="toolbarCurrentPage" ng-click="goHome()"> <a href>Phrase</a> </div>
      <span flex></span>
      <!-- features page needs an overhaul -->
      <md-button href="/#/#features">Features</md-button>
      <!-- about page needs an overhaul -->
      <md-button ui-sref="about">About</md-button>
      <!-- contact page needs an overhaul -->
      <md-button ui-sref="contact">Contact Us</md-button>
      <!-- login button summons loginPopup mdDialog passing $event or 'ev' -->
      <md-button class="loginButton" ng-click="LoginDialog($event)">Login</md-button>
    </div>
  </md-toolbar>
</div>

<!-- if an activeUser is set -->
<div ng-if="activeUser">
  <!-- TOOLBAR!! -->
  <md-toolbar layout-align="left center" class="md-primary md-whiteframe-z1 mainToolbar topToolbar">
    <div class="md-toolbar-tools">
      <!-- hamburger menu button -->
      <md-button ng-if="!isArticlePage" class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
        <div class="hamburgerMenuButton1" flex>
          <ng-md-icon icon='menu' style="fill: white" size="24">
          </ng-md-icon>
        </div>
      </md-button>
      <!-- back button -->
      <md-button ng-if="isArticlePage" class='md-icon-button' aria-label='Settings' ng-click="goBack()" href>
        <div class="hamburgerMenuButton1" flex>
          <ng-md-icon icon='chevron_left' style="fill: white" size="24">
          </ng-md-icon>
        </div>
      </md-button>
      <div href class="toolbarCurrentPage" ng-click="goHome()"> <a href>Phrase</a> </div>
      <span flex></span>
    </div>
  </md-toolbar>
  <!-- SIDENAV!! -->
  <div layout="row" flex="" ng-click="toggleLeft()">
    <md-sidenav style="height:100vh;" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
      <!-- toolbar part of sidenav -->
      <md-toolbar class="md-accent" ng-click="toggleLeft()">
        <div class="md-toolbar-tools">
          <div class="hamburgerMenuButton2 hamburgerMenuButton3">
            <ng-md-icon icon="menu" style="fill: white" size="24">
            </ng-md-icon>
          </div>
        </div>
      </md-toolbar>
      <!-- actual start of sideav -->
      <md-content layout-padding="">
        <md-list hide-md="" show-gt-md="">
          <!-- 1st -->
          <a ui-sref="users.show" class="navbarText">
            <md-list-item ng-click="toggleLeft()">
              <div class="sideNavIcons">
                <ng-md-icon icon="account_circle" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">{{activeUser}}</p>
            </md-list-item>
          </a>
          <!-- 2nd -->
          <a ui-sref="users.notify" class="navbarText">
            <md-list-item ng-click="toggleLeft()">
              <div class="sideNavIcons">
                <ng-md-icon icon="notifications" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Notifications</p>
            </md-list-item>
          </a>
          <!-- divider -->
          <md-divider class="navDivider" ng-if="!$last"></md-divider>
           <!-- 2nd -->
          <a ui-sref="classrooms.list" class="navbarText">
            <md-list-item ng-click="toggleLeft()">
              <div class="sideNavIcons">
                <ng-md-icon icon="school" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Classrooms</p>
            </md-list-item>
          </a>
          <!-- 3rd -->
          <a ui-sref="articles.list" class="navbarText">
            <md-list-item ng-click="toggleLeft()" ui-sref="articles.list">
              <div class="sideNavIcons">
                <ng-md-icon icon="my_library_books" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Articles</p>
            </md-list-item>
          </a>
          <!-- divider -->
          <md-divider class="navDivider" ng-if="!$last"></md-divider>
          <!-- 4th -->
          <a ui-sref="home" class="navbarText">
            <md-list-item ng-click="toggleLeft()">
              <div class="sideNavIcons">
                <ng-md-icon icon="home" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Home</p>
            </md-list-item>
          </a>
          <!-- 5th -->
          <a ui-sref="about" class="navbarText">
            <md-list-item ng-click="toggleLeft()" ui-sref="about">
              <div class="sideNavIcons">
                <ng-md-icon icon="info" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">About</p>
            </md-list-item>
          </a>
          <!-- 6th -->
          <a ui-sref="contact" class="navbarText">
            <md-list-item ng-click="toggleLeft()" ui-sref="contact">
              <div class="sideNavIcons">
                <ng-md-icon icon="help" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Contact</p>
            </md-list-item>
          </a>
          <!-- 7th -->
          <a ng-click="logout()" class="navbarText">
            <md-list-item ng-click="toggleLeft()">
              <div class="sideNavIcons">
                <ng-md-icon icon="exit_to_app" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Logout</p>
            </md-list-item>
          </a>
        </md-list>
      </md-content>
    </md-sidenav>
  </div>
</div>
