<style>
.mainToolbar{
box-shadow:none;
}
</style>

<div class="homePage">
	<div class="homeFirstBlock">
		<img class="homeImage3" src="http://i1329.photobucket.com/albums/w558/ktpics4/background2%20new_zpswkp4hnjp.png" alt="" />
		
		<div class="homeLeftDiv">
			<div class="homePageTitle"></div>
			<div class="homeSubTitle">Annotation with ease</div>
		</div>

		<div class="homeRightDiv">
			<md-card class="homeLoginCard">
				<md-card-content class="homeLoginCardContent" ng-if="!activeUser">
					<div class="homeLoginCardTitleContainer">
    					<div class="pageTitle homeLoginCardTitle">Sign Up!</div>
    					<div>Start collaborating now</div>
					</div>

					<form name="Signup" ng-submit="signupButton(user)" novalidate>
                      <div>
                        <md-input-container flex class="signupPopupRole">
                          <label>Role</label>
                          <md-select name="role" ng-model="user.role" required>
                            <md-option value="student">Student</md-option>
                            <md-option value="teacher">Teacher</md-option>
                          </md-select>
                          <div class="errors" ng-messages="Signup.role.$error" ng-show="Signup.role.$touched">
                            <div ng-message="required">Required</div>
                          </div>
                        </md-input-container>
                        <div class="signupPopupNameContainer">
                          <md-input-container flex class="signupPopupFirstName">
                            <label>First Name</label>
                            <input type="text" name="firstName" ng-model="user.firstName" ng-maxlength="40" required>
                            <div class="errors" ng-messages="Signup.firstName.$error" ng-show="Signup.firstName.$touched">
                              <div ng-message="required">Required</div>
                              <div ng-message="maxlenght">First name too long!</div>
                            </div>
                          </md-input-container>
                          <md-input-container flex class="signupPopupLastName">
                            <label>Last Name</label>
                            <input type="text" name="lastName" ng-model="user.lastName" ng-maximum="40" required>
                            <div class="errors" ng-messages="Signup.lastName.$error" ng-show="Signup.lastName.$touched">
                              <div ng-message="required">Required</div>
                              <div ng-message="maxlenght">Last name too long!</div>
                            </div>
                          </md-input-container>
                        </div>
                        <md-input-container flex class="signupPopupUsername">
                          <label>Username</label>
                          <input type="text" name="username" ng-model="user.username" ng-maxlength="26" required>
                          <div class="errors" ng-messages="Signup.username.$error" ng-show="Signup.username.$touched">
                            <div ng-message="required">Required</div>
                            <div ng-message="maxlength">Username is too long!</div>
                          </div>
                        </md-input-container>
                        <div class="signupPopupPasswordContainer">
                          <md-input-container class="signupPopupPassword" flex>
                            <label>Password</label>
                            <input type="password" name="pass" ng-model="user.password" ng-minlength="6" ng-maxlength="254" required>
                            <div class="errors" ng-messages="Signup.pass.$error" ng-show="Signup.pass.$touched">
                              <div ng-message="required">Required</div>
                              <div ng-message="maxlength">Password is too long!</div>
                              <div ng-message="minlength">Password is too short!</div>
                            </div>
                          </md-input-container>
                          <md-input-container class="signupPopupCPassword" flex>
                            <label>Confirm Password</label>
                            <input type="password" name="cPass" ng-model="cPassword" compare-to="user.password" required>
                            <div class="errors" ng-messages="Signup.cPass.$error" ng-show="Signup.cPass.$touched">
                              <div ng-message="required">Passwords do not match</div>
                            </div>
                          </md-input-container>
                        </div>
                        <md-input-container class="signupPopupEmail" flex>
                          <label>Email</label>
                          <input type="email" name="email" ng-model="user.email" ng-maxlength="100" required>
                          <div class="errors" ng-messages="Signup.email.$error" ng-show="Signup.email.$touched">
                            <div ng-message="required">Required</div>
                            <div ng-message="maxlength">Email is too long!</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div class="md-actions" layout="row">
                        <span flex></span>
                        <md-button type="button" class="loginPopupCancel" ng-click="cancel()">
                          <span class="pageSubTitle">Cancel</span>
                        </md-button>
                        <md-button type="submit" ng-disabled="Signup.$invalid" class="loginPopupLogin md-raised md-primary"> Signup </md-button>
                      </div>
                    </form>
				</md-card-content>
				<md-card-content class="homeLoginCardContent" ng-if="activeUser">
					<div class="homeLoginCardTitleContainer">
    					<div class="pageTitle homeLoginCardTitle">Good to go!</div>
    					<div>Start collaborating now</div>
    					<div class="homeLoginCardSpace"></div>
    					<div href class="homeLoginCardLink" ng-click='goToArticles()'>Your Articles</div>
    					<div href class="homeLoginCardLink" ng-click='goToClassrooms()'>Your Classrooms</div>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="homeSecondBlock">
		<div class="pageTitle homeSecondPageTitle">The ultimate annotation experience</div>
	</div>
</div>

