<!-- style the nav bar and background color for this page only. background color can esily be fixed by coloring the second block div insted -->
<style>
.mainToolbar{
box-shadow:none;
}
html, body{
  background-color: #fff !important;  /*TNW*/
}
</style>

<!-- the is the home page. i put it together in one day so it is very buisy and not as clean as it could be. get ready -->
<!-- maybe put the whole page in an ng-if... when logged out. view what we are seeing now, but when signed in perhaps something more useful? -->
<div class="homePage">
  <!-- i split this page into 'blocks' there are only 2 right now but i was planning on having many more. I wanted to make this site look like getpostman.com or prezi.com... wanted to look like facebook too with one bit signup on the home page -->
  <!-- first block that contains the logo and the signup page -->
	<div class="homeFirstBlock">
    <!-- getting the background image from photobucket... i will get katie to upload the real img file to /images -->
		<img class="homeImage3" src="http://i1196.photobucket.com/albums/aa402/ryan_baker5/background2%20new_zpsbtqnyika.png" alt="" />

		<!-- div for the logo. being applied in css -->
		<div class="homeLeftDiv">
			<div class="homePageTitle"></div>
			<div class="homeSubTitle">Annotation made simple</div>
		</div>

    <!-- div on the right side of the page that houses the signup. basically the same exact code that cam be found in the mdDialog of the nav-bar/index.js file so i not really going to comment it. -->
		<div class="homeRightDiv">
			<md-card class="homeSignupCard">
        <!-- ng-if when logged out show the login option. when logged in dont show it -->
				<md-card-content class="homeSignupCardContent" ng-if="!activeUser">

					<div class="homeSignupCardTitleContainer">
    					<div class="pageTitle homeSignupCardTitle">Sign Up!</div>
    					<div>Start collaborating now</div>
					</div>

					<form name="Signup" ng-submit="signupButton(user)" novalidate>
            <div>
              <md-input-container flex class="signupPopupRole">
                <label>Role</label>
                <md-select name="role" ng-model="user.role" required>
                  <md-option value="student">Student</md-option>
                  <md-option value="teacher">Teacher</md-option>
                </md-select>
                <div class="errors" ng-messages="Signup.role.$error" ng-show="Signup.role.$touched">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
              <div class="signupPopupNameContainer">
                <md-input-container flex class="signupPopupFirstName">
                  <label>First Name</label>
                  <input type="text" name="firstName" ng-model="user.firstName" ng-maxlength="40" required>
                  <div class="errors" ng-messages="Signup.firstName.$error" ng-show="Signup.firstName.$touched">
                    <div ng-message="required">Required</div>
                    <div ng-message="maxlenght">First name too long!</div>
                  </div>
                </md-input-container>
                <md-input-container flex class="signupPopupLastName">
                  <label>Last Name</label>
                  <input type="text" name="lastName" ng-model="user.lastName" ng-maximum="40" required>
                  <div class="errors" ng-messages="Signup.lastName.$error" ng-show="Signup.lastName.$touched">
                    <div ng-message="required">Required</div>
                    <div ng-message="maxlenght">Last name too long!</div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container flex class="signupPopupUsername">
                <label>Username</label>
                <input type="text" name="username" ng-model="user.username" ng-maxlength="26" required>
                <div class="errors" ng-messages="Signup.username.$error" ng-show="Signup.username.$touched">
                  <div ng-message="required">Required</div>
                  <div ng-message="maxlength">Username is too long!</div>
                </div>
              </md-input-container>
              <div class="signupPopupPasswordContainer">
                <md-input-container class="signupPopupPassword" flex>
                  <label>Password</label>
                  <input type="password" name="pass" ng-model="user.password" ng-minlength="6" ng-maxlength="254" required>
                  <div class="errors" ng-messages="Signup.pass.$error" ng-show="Signup.pass.$touched">
                    <div ng-message="required">Required</div>
                    <div ng-message="maxlength">Password is too long!</div>
                    <div ng-message="minlength">Password is too short!</div>
                  </div>
                </md-input-container>
                <md-input-container class="signupPopupCPassword" flex>
                  <label>Confirm Password</label>
                  <input type="password" name="cPass" ng-model="cPassword" compare-to="user.password" required>
                  <div class="errors" ng-messages="Signup.cPass.$error" ng-show="Signup.cPass.$touched">
                    <div ng-message="required">Passwords do not match</div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="signupPopupEmail" flex>
                <label>Email</label>
                <input type="email" name="email" ng-model="user.email" ng-maxlength="100" required>
                <div class="errors" ng-messages="Signup.email.$error" ng-show="Signup.email.$touched">
                  <div ng-message="required">Required</div>
                  <div ng-message="maxlength">Email is too long!</div>
                </div>
              </md-input-container>
            </div>
            <div class="md-actions" layout="row">
              <span flex></span>
              <md-button type="button" class="loginPopupCancel" ng-click="cancel()">
                <span class="pageSubTitle">Cancel</span>
              </md-button>
              <md-button type="submit" ng-disabled="Signup.$invalid" class="loginPopupLogin md-raised md-primary"> Sign Up </md-button>
            </div>
          </form>
				</md-card-content>
        <!-- other ng-if when loged in show this. very ugly. needs changing unless you are going with other suggestion of hiding the enitre page that was said above -->
				<md-card-content class="homeSignupCardContent" ng-if="activeUser">
					<div class="homeSignupCardTitleContainer">
    					<div class="pageTitle homeSignupCardTitle">Good to go!</div>
    					<div>Start collaborating now</div>
    					<div class="homeSignupCardSpace"></div>
              <div href class="homeSignupCardLink" ng-click='goToUser()'>Your Profile</div>
    					<div href class="homeSignupCardLink" ng-click='goToArticles()'>Your Articles</div>
    					<div href class="homeSignupCardLink" ng-click='goToClassrooms()'>Your Classrooms</div>
              <div ng-show="user.role=='teacher'">
              <div href class="homeSignupCardLink" ng-click='goToNewArticles()'>Create Articles</div>
              <div href class="homeSignupCardLink" ng-click='goToNewClassrooms()'>Create Classrooms</div>
              </div>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
  <!-- second block. im actually quit proud of this -->
	<div class="homeSecondBlock">
                <h1 id="features"></h1>
		<div class="pageTitle homeSecondPageTitle">The ultimate annotation experience</div>
		<div class="homeFeaturesContainer">
      <!-- im not going to comment each feature, but they all use a lfex box to align them in the css. i STRONGLY suggest using flexboxes instead of floating your objects, any alignment issues can be solved with flexboxes. if you have them time. try converting my floats to flexboxes -->
			<div class="homeFirstFeature">
				<div class="homeFeatureImg">
					<img src="images/iphone.svg" width="128" height="128"/>
				</div>
				<div class="homeFeatureTitle">From any device</div>
				<div class="homeFeatureDesc">Phrase supports on the go annotations using a computer, tablet, or smartphone</div>
			</div>
			<div class="homeSecondFeature">
				<div class="homeFeatureImg">
					<img src="images/upload.svg" width="128" height="128"/>
				</div>
				<div class="homeFeatureTitle">Mulitple ways to publish articles</div>
				<div class="homeFeatureDesc">Upload your favorate article or assignment via copy-and-paste, direct URL, or PDF</div>
			</div>
			<div class="homeThirdFeature">
				<div class="homeThirdFeatureImg">
					<img src="images/folder.svg" width="128" height="128"/>
				</div>
				<div class="homeFeatureTitle">Organize your articles</div>
				<div class="homeFeatureDesc">Create classrooms and folders to easily house important articles</div>
			</div>
			<div class="homeFourthFeature">
				<div class="homeFeatureImg">
					<img src="images/calendar.svg" width="128" height="128"/>
				</div>
				<div class="homeFeatureTitle">Set due dates and requirements</div>
				<div class="homeFeatureDesc">Prompt students with due dates and annotation requirements inside of Phrase</div>
			</div>
			<div class="homeFifthFeature">
				<div class="homeFeatureImg">
					<img src="images/people.svg" width="128" height="128"/>
				</div>
				<div class="homeFeatureTitle">Share annotations</div>
				<div class="homeFeatureDesc">Display the best or most popular annotations to your class or group</div>
			</div>
		</div>
	</div>
  <!-- end of block two but here is whene you could out block 3 -->
  <!-- <div class="homeThridBlock"></div>  !!that class is not referanced in the css!!-->
</div>

