<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title>Bivit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="//cdn.rawgit.com/angular/bower-material/master/angular-material.css" >
    <link rel='stylesheet' href="app/main.css">
  </head>
  <body>

  <div ng-controller='AppController'>

    <!--TOOLBAR!!-->
    <md-toolbar layout-align="left center" class="md-primary md-whiteframe-z1 mainToolbar">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <div class="hamburgerMenuButton2" flex>
            <ng-md-icon icon='menu' style="fill: white" size="36">
            </ng-md-icon>
          </div>
        </md-button>
        <div class="toolbarCurrentPage"> Phrase
        </div>
      </div>
    </md-toolbar>

    <!--SideNav!!-->
    <div layout="row" flex="" ng-click="toggleLeft()">
      <md-sidenav style="height:500px;" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
        <md-toolbar class="" ng-click="toggleLeft()">
          <div class="md-toolbar-tools">
            <div class="hamburgerMenuButton2 hamburgerMenuButton3">
              <ng-md-icon icon="menu" style="fill: white" size="36">
              </ng-md-icon>
            </div>
            <div class="navbarCurrentPage navbarHover">
            </div>
          </div>
        </md-toolbar>
        <md-content layout-padding="">
          <md-list hide-md="" show-gt-md="">
            <md-list-item ui-sref="home">
              <div class="sideNavIcons">
                <ng-md-icon icon="home" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Home</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ui-sref="users.login">
              <div class="sideNavIcons">
                <ng-md-icon icon="people" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Users</p>
            </md-list-item>
            <md-list-item ui-sref="classrooms.list">
              <div class="sideNavIcons">
                <ng-md-icon icon="school" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Classrooms</p>
            </md-list-item>
            <md-list-item ui-sref="articles.list">
              <div class="sideNavIcons">
                <ng-md-icon icon="my_library_books" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Articles</p>
            </md-list-item>
            <md-divider class="navDivider" ng-if="!$last"></md-divider>
            <md-list-item ui-sref="about">
              <div class="sideNavIcons">
                <ng-md-icon icon="info" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">About</p>
            </md-list-item>
            <md-list-item ui-sref="contact">
              <div class="sideNavIcons">
                <ng-md-icon icon="help" ng-class="" style="fill: black" size="30">
                </ng-md-icon>
              </div>
              <p ng-class="">Contact</p>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </div>

  </div>

    <script src="/app/index.js"></script>
  </body>
</html>
