html, body{
  background-color: #eee !important;  /*TNW*/
}

html::-webkit-scrollbar{
  display: none;
}

body {
  height: 100vh;
}

div .progressCircular{
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.progressCircular{
  margin-top: 20em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.mainToolbar{
  z-index: 4;
}

.navbarText{
  text-decoration: none;
  color: black;
}

.searchBar{
  float: left;
  margin-left: 14em;
  position: absolute;
  margin-top: -1.2em;
}

.searchBarClassrooms{
  float: left;
  margin-left: 14em;
  position: absolute;
  margin-top: -3.41em;
}

.classroomPicker{
  float: right;
  margin-top: -2em;
  margin-right: 2em;
}

.active{
  font-weight: bold !important;
  color: #3F51B5;                 /* change this color to match theme */
  fill: #3F51B5 !important;       /* change this color to match theme */
}

.navDivider{
  margin-top: .3em;
  margin-bottom: .3em;
}

.searchIcon{
  margin-top: .1em;
  margin-right: .2em;
  float: left;
}

.articlesContainer{
  padding-top: 3em;
  padding-bottom: 3em;
}

.yourClasses{
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: .1em;
  margin-top: .4em;
}

.navDividerMainPg{
  margin-bottom: .5em;
}

.articlesContainerMainPg{
  padding-top: 0em;
  padding-bottom: 1em;
}

.classroomMainPg{
  margin-bottom: .4em;
  margin-left: .25em;
  font-size: 1.25em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  width: auto;
}

a.navbarText{
  text-decoration: none;
}

a.classroomMainPg:hover{
  color: #777;
}

.toolbarCurrentPage{
  margin-top: .2em !important;
  margin-left: .6em;
}

.navbarCurrentPage{
  margin-top: .2em !important;
  margin-left: .6em;
  font-weight: bold;
}

.Views{
  padding-left: 60px;
  padding-right: 60px;
}

.floatingActionButton { 
  float: right;
  margin-top: -3.5em;
  margin-right: 5em;
  z-index: 100 !important;
}

.hamburgerMenuButton2{
  padding-top: .6em !important;
}

.hamburgerMenuButton3{
  padding-right: .5em !important;
}

.toolbarCurrentUser{
  font-size: 13px;
  padding-right: .5em;
}

.requiredPickerError{
  color: rgb(244,67,54);
  font-size: 12px;
  line-height: 24px;
  margin-top: -1em;
  margin-left: -8em;
}

.div.feature {
    position: relative;
}

.whiteBack{
  background-color: #FFF !important;
}
 
div.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.articleContentCardDiv{
  height: inherit;
  padding: 10px;
  overflow: hidden;
  border-bottom: 58px solid white;
}

.articleContentCard{
  text-align: left;
  font-size: 6px;
  white-space: pre-wrap;
}

.articleCardContainer{
  background-color: transparent !important;
}

.blueBar{
  height: 12em;
}

.articleEditSubmit{
  margin-top: .6em;
}

.articleMenuEdit{
  margin-top: .6em;
}

.articleMenuDelete{
  margin-top: .1em;
}

.articleMenuClass{
  margin-top: .1em;
}

.positioner{
  float: right;
  margin-right: 10%;
}

.positioner2{
  float: right;
  margin-right: 10%;
}

.md-color-donfirm{

}

.articlesPage{
  padding-left: 2em;
  padding-right: 2em;
}

.classroomsAddPage{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

.pageTitle{
  font-size: 30px;
  margin-bottom: 0px;
}

.pageSubTitle{
  color: gray; 
}

.fabSpeedDial5{
  float: right;
  position:fixed;
  margin-top: .34em;
  z-index: 11 !important;
  margin-left: -.68em;
}

.fabSpeedDial4{
  float: right;
  position:fixed;
  margin-top: 2.22em;
  z-index: 11 !important;
  margin-left: -.68em;
}

.fabSpeedDial3{
  float: right;
  position:fixed;
  margin-top: .35em;
  z-index: 11 !important;
  margin-left: -.68em;
}

.fabSpeedDial2{
  float: right;
  position:fixed;
  margin-top: 6.22em;
  z-index: 11 !important;
  margin-left: -.68em;
}

.fabSpeedDial{
  float: right;
  position:fixed;
  margin-top: 10em;
  z-index: 11 !important;
}


.fabSpeedDial .md-fab:hover, .fabSpeedDial .md-fab.md-focused, 
.fabSpeedDial2 .md-fab:hover, .fabSpeedDial2 .md-fab.md-focused, 
.fabSpeedDial3 .md-fab:hover, .fabSpeedDial3 .md-fab.md-focused, 
.fabSpeedDial4 .md-fab:hover, .fabSpeedDial4 .md-fab.md-focused,
.fabSpeedDial5 .md-fab:hover, .fabSpeedDial5 .md-fab.md-focused {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), inset 0 0 100px 100px rgba(0, 0, 0, 0.3) !important; 
}

.fabSpeedDial .lock-size {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto; 
}

.articleContentCardFooter{
  height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 1em;
}

.zRaise2
{
  box-shadow:0 8px 17px rgba(0,0,0,.2)
}

.articleCard 
{
  padding: 2rem;
  z-index: 7;
  margin-top: 5em;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.articleCardClassroom{
  color: #777;
  font-weight: bold;
  text-align: right;
  float: right;
}

.articleCardTitle{
  margin-top: .25em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: bold;
  color: #333;
}

.articleCardAuthor{
  margin-top: .1em;
  margin-bottom: .5em;
  margin-left: 2em;
  color: #777;
  font-weight: bold;
  text-align: left;
}

.articleCardContent{
  text-decoration: none;
  line-height: 1.7;
  color: #777;
  margin-top: 0;
  padding-right:2em;
  padding-left:2em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: keep-all;
}

.articleCardSource{
  margin-right: .25em;
  color: #AAA;
  text-align: right;
  font-family: 'Roboto', sans-serif;;
}

.deleteBtn{
  margin-bottom: 40px;
}

.sideNavIcons{
  padding-right: 1.3em;
  margin-bottom: -.6em;
}

.thumbnail {
    float: left;
    width: 110px;
    height: 90px;
    margin: 5px;
}

.text_line {
    clear: both;
    margin-bottom: 2px;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; 
}

textarea {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 61%;
    resize: none;
    margin-right: auto;
}