<div>
  <style>
    .topToolbar {
    position: fixed;
  }
  </style>

  <div class="inflow">
    <div class="positioner2">
      <div class="fabSpeedDial2" layout="column">
        <div class="lock-size" layout="row" layout-align="center center">
          <md-fab-speed-dial md-direction="down" ng-class="md-scale">
            <md-fab-trigger>
              <md-button aria-label="articleCreateSubmit" ng-click="create(article)" class="md-fab md-color-confirm">
                <ng-md-icon class="articleEditSubmit" icon="check" style="fill: white" size="24">
                </ng-md-icon>
              </md-button>
            </md-fab-trigger>
          </md-fab-speed-dial>
        </div>
      </div>     
    </div>

  <md-content class="articleCardContainer">  

      <md-card class="articleCard">

      <form ng-submit="create(article)">
        <div>
          <md-input-container> 
          <label>Title</label>
          <input type ="text" name="title" ng-model="article.title">
          </md-input-container>
        </div>

        <div>
          <md-input-container> 
          <label>Source</label>
          <input type ="text" name="source" ng-model="article.source">
          </md-input-container>
        </div>

        <div>
          <md-input-container> 
          <label>Author</label>
          <input type ="text" name="author" ng-model="article.author">
          </md-input-container>
        </div>

        <div>
          <md-input-container>
          <label>Content</label>
          <textarea columns="1" rows="15" type="text" name="content" ng-model="article.content">
          </textarea>
          </md-input-container>
        </div>

        
      </form>

    </md-card>

  </md-content>

  </div>

</div>

<!--<p class="pageTitle">New Article</p>

<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Copy and Paste">
        <md-content class="md-padding">
          <form ng-submit="create(article)" name="CnP">
            <md-button class="md-fab md-primary floatingActionButton" md-ink-ripple aria-label="Create Article">
              <div class="hamburgerMenuButton4">
                <ng-md-icon icon="check" size="24" style="fill: white"></ng-md-icon>
              </div>
            </md-button>
            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="article.title">
                <div ng-messages="CnP.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              //<div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
                <md-select required name="classroompicker" ng-model="article.classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
                  <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
                  <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
                </md-select>
                <div ng-messages="CnP.classroompicker.$error">
                  <div class="requiredPickerError" ng-message="required">This is required.</div>
                </div>
              </div>//
            </div>

            <div>
              <md-input-container> 
                <label>Source</label>
                <input type ="text" name="source" ng-model="article.source">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <label>Author</label>
              <input type ="text" name="author" ng-model="article.author">
              </md-input-container>
            </div>

            <div>
              <md-input-container flex> 
                <label>Content</label>
                <textarea required type ="text" name="content" ng-model="article.content" columns="1">
                </textarea>
                <div ng-messages="CnP.content.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            //<md-button class="md-primary md-raised btn">Create Article</button>//
          </form>
        </md-content>
      </md-tab>
      <md-tab label="URL">
        <md-content class="md-padding">
          <form ng-submit="create(article)" name="url">
            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="article.title">
                <div ng-messages="url.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
                <md-select required name="classroompicker" ng-model="article.classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
                  <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
                  <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
                </md-select>
                <div ng-messages="CnP.classroompicker.$error">
                  <div class="requiredPickerError" ng-message="required">This is required.</div>
                </div>
              </div>
            </div>

            <div>
              <md-input-container> 
                <label>Author</label>
                <input type ="text" ng-model="article.author">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <label>URL</label>
                <input required type ="text" name="url" ng-model="article.URL">
                <div ng-messages="url.url.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <md-button class="md-primary md-raised btn">Create Article</button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="PDF">
        <md-content class="md-padding">
          <form ng-submit="create(article)" name="PDF">
            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="article.title">
                <div ng-messages="url.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
                <md-select required name="classroompicker" ng-model="article.classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
                  <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
                  <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
                </md-select>
                <div ng-messages="CnP.classroompicker.$error">
                  <div class="requiredPickerError" ng-message="required">This is required.</div>
                </div>
              </div>
            </div>

            <div>
              <md-input-container> 
                <label>Author</label>
                <input type ="text" ng-model="article.author">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <input required type ="file" name="pdf" ng-model="article.PDF" aria-label="pdf">
                <div ng-messages="PDF.pdf.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <md-button class="md-primary md-raised btn">Create Article</button>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>-->
