<div>
    <style>
    .topToolbar {
        position: fixed;
    }
    </style>
    <div class="inflow">
        <div class="positioner2">
            <div class="fabSpeedDial2" layout="column">
                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                        <md-fab-trigger>
                            <md-button aria-label="articleCreateSubmit" ng-click="create(article)" class="md-fab md-color-confirm">
                                <md-tooltip md-direction="down" md-delay="200" md-autohide="true">
                                    Done!
                                </md-tooltip>
                                <ng-md-icon class="articleEditSubmit" icon="check" style="fill: white" size="24">
                                </ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>
        <md-content class="articleCardContainer">
            <md-card class="articleCard">
                <form ng-submit="create(article)">
                    <div>
                        <md-input-container>
                            <label>Title</label>
                            <input type="text" name="title" ng-model="article.title">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Source</label>
                            <input type="text" name="source" ng-model="article.source">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Author</label>
                            <input type="text" name="author" ng-model="article.author">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <label>Content</label>
                            <textarea columns="1" rows="15" type="text" name="content" ng-model="article.content">
                            </textarea>
                        </md-input-container>
                    </div>

                    <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
                        <md-select required name="classroompicker" ng-model="article.classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
                            <md-select-label>{{ classroom.name ? classrooms : 'Which Classroom?'}}</md-select-label>
                            <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.name}}</md-option>
                        </md-select>
                    </div>

                </form>
            </md-card>
        </md-content>
    </div>
</div>
