<h1>About</h1>
<p>Our Story Phrase was created in 2010 by Mel Baiada as a summer project for high school students.  Since then, teams of high school students have signed on every year to continue work on the project. Phrase is a social annotation platform for K-12 classrooms.  Phrase allows students to annotate essays and articles with teacher supervision. Teachers can comment on their students' annotations.  We are located in the offices of Basecamp Ventures, in Moorestown, New Jersey.  Phrase will be ready for beta testing in the 2015-2016 school year.  If you're interested in beta testing Phrase in your classroom, or have any further questions about Phrase, please visit our Contact Us page.</p>

 
