<head>
<style> img{float: right;} </style>
</head>
<body>
<h1> About Phrase</h1>

<p>Our Story Phrase was created in 2010 by Mel Baiada as a summer project for high school students.  Since then, teams of high school students have signed on every year to continue work on the project. Phrase is a social annotation platform for K-12 classrooms.  Phrase allows students to annotate essays and articles with teacher supervision. Teachers can comment on their students' annotations.  We are located in the offices of Basecamp Ventures, in Moorestown, New Jersey.  Phrase will be ready for beta testing in the 2015-2016 school year.  If you're interested in beta testing Phrase in your classroom, or have any further questions about Phrase, please visit our Contact Us page.

<br></br><h1>Assets and Guidelines </h1></p>
<p style="font-size:160%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colors</p>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<p style="font-size:160%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phrase Logo</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try to resize the browser-window to see what happens when the images does not have enough room.</p>

<img src="/images/phrase logo2 w layers and pencil colors.png" alt="The official Phrase logo."  style="position: absolute; top: 355px; left: 640px;width:600px;height:300px">

<p class="text_line"></p>
<img src="/images/Phrase logo2 copy.png" alt="The official Phrase logo."  style="position: absolute; top: 800px; left: 788px;width:600px;height:300px">




<img src="/images/Indigo color palette.png" alt="Indigo color palette." style="position: absolute; top:355px;left: 250px;width:600px;height:300px">













</body