<head>
<style> img{float: right;} </style>  <!--allow text to be next to picture-->
</head>
<body>

 <!--set roboto font-->
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 

 <!--About Phrase section-->
<h1 style="font-family:roboto"> About Phrase</h1>
<p style="font-family:roboto">Our Story Phrase was created in 2010 by Mel Baiada as a summer project for high school students.  Since then, teams of high school students have signed on every year to continue work on the project. Phrase is a social annotation platform for K-12 classrooms.  Phrase allows students to annotate essays and articles with teacher supervision. Teachers can comment on their students' annotations.  We are located in the offices of Basecamp Ventures, in Moorestown, New Jersey.  Phrase will be ready for beta testing in the 2015-2016 school year.  If you're interested in beta testing Phrase in your classroom, or have any further questions about Phrase, please visit our Contact Us page.

 <!--Assets and Guidelines title-->
<br></br><h1>Assets and Guidelines </h1></p>

 <!--sets up tabs-->
<div class="tabsdemoDynamicHeight" ng-app="MyApp">
  <md-content class="md-padding">
    <md-tabs md-dynamic-height="" border-bottom="">
       <!--start tab 1-->
      <md-tab label="Colors">
        <md-content class="md-padding">
          <h1 class="md-display-2">Colors</h1>
          <p>Phrase's website has a variety of colors, but one main color scheme is implemented.  Phrase's design team used Google Material Design's color palettes as a reference for the team's color choices. Phrase's color scheme includes a primary/base palette and a secondary/accent palette.  Indigo (500 or #3F51B5) is used for the primary/base color and light blue (A200 or #40C4FF) is the secondary/accent color.</p>
         <!--indigo color palette-->
    <img src="/images/indigo color palette copy.png" alt="Indigo color palette." style="position: absolute; top:200px; left:20px; width:600px;height:700px">
          
            <!--light blue color palette-->
 <img src="/images/light blue color palette copy.png" alt="light blue color palette." style="position:absolute; top: 190px; left: 320px; width:602px;height:701px">
        
    <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<p> The colors used to display text include black (#000000), white (#FFFFFF), grey (400 or #BDBDBD), and grey (600 or #757575).</p>
<!--black and white color palette-->
<img src="/images/black and white color palette copy.png" alt="Black and white color palette." border="1" style="position: absolute; top:950px; left:140px; width:300px;height:100px;">

<!--grey color palette-->
<img src="/images/grey color palette copy.png" alt="Black and white color palette." style="position: absolute; top:950px; left:500px; width:245px;height:400px">

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

<p> The site's background colors include white (#FFFFFF) and grey (200 or #EEEEEE).</p>
<!--black and white color palette-->
<img src="/images/black and white color palette copy.png" alt="Black and white color palette." border="1" style="position: absolute; top:1451px; left:140px; width:300px;height:100px">

<!--grey color palette-->
<img src="/images/grey color palette copy.png" alt="Black and white color palette." style="position: absolute; top:1451px; left:500px; width:245px;height:400px">

        </md-content>
      </md-tab>
       <!--end tab 1-->
       
       
        <!--Start tab 2-->
      <md-tab label="Logo One">
        <md-content class="md-padding">
          <h1 class="md-display-2">Logo Icon </h1>
          <p>This is the Phrase single icon.  The icon's original size is 696px by 1302px with a resolution of 300 px/in.</p>
          <img src="/images/phrase logo2 w layers and pencil colors.png" alt="Black and white color palette." style="position: absolute; top:185px; left:200px; width:143px;height:250px">
          <br></br><br></br><br></br><br></br><br></br><br></br><br></br>
          <p>The icon has very specific colors.  The outmost part of the pencil's tip is black (#000000) and the inmost part of the pencil's tip is Amber (100 or #FFECB3). The body of the pencil is divided into three sections. We used three colors from the Amber color palette that transition from dark to light.  From left to right, the colors are: Amber (800 or #FF8F00), Amber (600 or #FFB300), and Amber (300 or #FFD54F).  The metal section of the pencil has a large rectangle that is grey (#B7B7B7) and two smaller horizontal rectangles that are grey (#555555).  The pencil's eraser is red (300 or #E57373). </p>
        </md-content>
      </md-tab>
       <!--end tab 2-->
       
        <!--start tab 3-->
      <md-tab label="Logo Two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Full Logo</h1>
          <p>This is the full Phrase logo.  Its size is 1978px by 1308px with a resolution of 300 px/in.</p>
          <img src="/images/Phrase logo2 copy grey bg copy.png" alt="Full Phrase logo." style="position: absolute; top:184px; left:115px; width:400px;height:250px">
          <br></br><br></br><br></br><br></br><br></br><br></br><br></br>
          <p>Text is also used in addition to the Phrase icon.  The font used is "Apple SD Gothic Neo Thin."</p>
          <img src="/images/Apple SD Gothic Neo Thin copy.png" alt="Phrase logo text." style="position: absolute; top:495px; left:115px; width:350px;height:100px">
     <br></br><br></br><br></br>
     <p>After the whole logo is constructed, shadowing must be used.  A Drop Shadow with opacity at 75%, Angle at 120&deg, Distance at 7px, Spread at 8px, Size at 6px, and Noise at 0% is applied.</p>
     <img src="/images/hrase w effects copy.png" alt="Phrase logo text." style="position: absolute; top:690px; left:115px; width:350px;height:100px">
        </md-content>
      </md-tab>
       <!--end tab 3-->
    </md-tabs>
  </md-content>
</div>
 <!--end all tabs-->


















</body