<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Copy and Paste">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>

          <form name="CnP">

            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="title">
                <div ng-messages="CnP.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
              
            <div>
              <md-input-container> 
                <label>Author</label>
                <input type ="text" ng-model="author">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <label>Source</label>
                <input type ="text" ng-model="source">
              </md-input-container>
            </div>

            <div>
              <md-input-container flex="">
                <label>Content</label>
                <textarea required ng-model="content" name="content" columns="1"></textarea>
                <div ng-messages="CnP.content.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
              
            <md-button class="md-raised md-accent" ng-click="addArticleCP()">Add Article</md-button>

            <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
              <md-select required name="classroompicker" ng-model="classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
                <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
                <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
              </md-select>
              <div ng-messages="CnP.classroompicker.$error">
                <div class="requiredPickerError" ng-message="required">This is required.</div>
              </div>
            </div>

          </form>

        </md-content>
      </md-tab>
      <md-tab label="URL">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>

          <form name="url">
          
            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="title">
                <div ng-messages="url.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
              
            <div>
              <md-input-container> 
                <label>Author</label>
                <input type ="text" ng-model="author">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <label>URL</label>
                <input required type ="text" name="url" ng-model="URL">
                <div ng-messages="url.url.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <md-button class="md-raised md-accent" ng-click="addArticleURL()">Add Article</md-button>

            <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
              <md-select required name="classroompicker" ng-model="classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
              <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
              <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
              </md-select>
              <div ng-messages="url.classroompicker.$error">
                <div class="requiredPickerError" ng-message="required">This is required.</div>
              </div>
            </div>

          </form>

        </md-content>
      </md-tab>
      <md-tab label="PDF">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>

          <form name="PDF">
          
            <div>
              <md-input-container> 
                <label>Title</label>
                <input required type ="text" name="title" ng-model="title">
                <div ng-messages="PDF.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
              
            <div>
              <md-input-container> 
                <label>Author</label>
                <input type ="text" ng-model="author">
              </md-input-container>
            </div>

            <div>
              <md-input-container> 
                <input required type ="file" name="pdf" ng-model="PDF" aria-label="pdf">
                <div ng-messages="PDF.pdf.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <md-button class="md-raised md-accent" ng-click="addArticlePDF()">Add Article</md-button>

            <div class="classroomPicker" layout="column" layout-align="center center" style="height: 100px;">
              <md-select required name="classroompicker" ng-model="classroom" md-on-open="loadClassrooms()" style="min-width: 200px;">
              <md-select-label>{{ classroom ? classroom.classroomName : 'Which Classroom?'}}</md-select-label>
              <md-option ng-value="classroom" ng-repeat='classroom in classrooms'>{{classroom.classroomName}}</md-option>
              </md-select>
              <div ng-messages="PDF.classroompicker.$error">
                <div class="requiredPickerError" ng-message="required">This is required.</div>
              </div>
            </div>

          </form>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

  