<div>
  <md-input-container> 
  <label>Article</label>
  <input type ="text" ng-model="articleQuery">
  </md-input-container>
   <div>
   <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
    
    <md-grid-tile ng-href="/help" md-ink-ripple ng-repeat="article in articles | filter:articleQuery" class="md-whiteframe-z2 testColor">
      
      <div class="feature">
      <a href="http://localhost:9000/#/articles/{{article._id}}"></a>
      <div>
      {{article.content | limitTo: 40}}
      </div>
      <md-grid-tile-footer text-align:center class="titleColor"><h3>{{article.title}}</h3></md-grid-tile-footer>
      </div>
      </a>
    </md-grid-tile>
  </md-grid-list>
  </div>

  <!--<div id="inline-block" ng-repeat="article in articles | filter:articleQuery">
  	<a ng-href="http://localhost:9000/#/articles/{{article._id}}">
      <div>
   	  	<p>
   	    	{{article.title}}
   	  	</p>
   	  	<div>
   	      {{article.content}}
   	  	</div>
  		</div>
  	</a>
  </div>-->
</div>