<md-button class="md-fab floatingActionButton" md-ink-ripple aria-label="Add Classroom" ng-href="#/classroomsadd">
  <div class="hamburgerMenuButton2">
    <ng-md-icon icon="add" size="24" style="fill: white"></ng-md-icon>
  </div>
</md-button>

<md-input-container class="md-accent searchBar"> 
    <label>
      <ng-md-icon icon="search" size="15" style="fill: grey"></ng-md-icon>
      search
      </label>
    <input type ="text" ng-model="query">
  </md-input-container>

<div>
  <div class="card btn" id="classroomCard" ng-repeat="classroom in classrooms | filter:query">
    <div>
   	  <a ng-href="http://localhost:9000/#/classrooms/{{classroom._id}}">
        {{classroom.classroomName}}
      </a>
  	</div>
  </div>
</div>
