<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>Contact Us</h1>
<p>Please fill out the form below to ask questions or give us your feedback.</p>

<form action="mailto:bivitapp@gmail.com" enctype="text/plain" method="post">
<p>Name: <input name="Name" type="text" id="Name" size="40"></p>
<p>E-mail: <input name="E-mail" type="text" id="E-mail" size="40"></p>
<p>Message:</p>
<p><textarea name="Comment" cols="55" rows="5"
id="Comment"></textarea></p>
<p><input type="submit" name="Submit" value="Send"></p>
</form>



</body>
</html>
