<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><img src="https://i.imgur.com/gluxEbo.png" height="80px"></h1>

        <p>Login or Register with:</p>

        <a ng-href="/auth/google" class="btn-large btn-danger"><span class="fa fa-google-plus"></span>Google</a>

    </div>

</div>
</body>
