<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<style> <!--CSS for tabs--> 
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
	.alignleft {
	float: left;
}
.alignright {
	float: right;}
	
	h1.ex1 {
    margin: -4.35cm 8cm 0.5cm 50cm;
	float:right;
}
    </style>
    
<body>

<h1 style="position:absolute; top: 100px;left: 75px">Your Classes</h1>

<!--tab 1-->
<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="History">
        <md-content class="md-padding">
          
          <div id="textbox">
  			<h2><i>The Strange Death of Silas Deane</i></h2>
  			    <p>Chapter 5 and 6</p>
                <br></br>
				<p style="color:#757575">Submitted 6/1/2015</p>
         <h1 class="ex1" style="font-size:300%">A</h1> 
        </div>
<hr style="color:#757575"></hr>

			<div id="textbox">
  			<h2><i>The Strange Death of Silas Deane</i></h2>
  			<p>Chapter 3 and 4</p>
                <br></br>
				<p style="color:#757575">Submitted 5/29/2015</p>
         <h1 class="ex1" style="font-size:300%">B</h1> 
        </div>
<hr style="color:#757575"></hr>
<div id="textbox">
  			<h2><i>The Strange Death of Silas Deane</i></h2>
  			    <p>Chapter 1 and 2</p>
                <br></br>
				<p style="color:#757575">Submitted 5/24/2015</p>
         <h1 class="ex1" style="font-size:300%">C</h1> 
        </div>
<hr style="color:#757575"></hr>
        </md-content>
      </md-tab>
      
      
      <!--tab 2-->
      <md-tab label="English">
        <md-content class="md-padding">
          <div id="textbox">
  			<h2><i>Pride and Prejudice</i></h2>
  			<p>Essay</p>
                <br></br>
				<p style="color:#757575">Submitted 6/1/2015</p>
         <h1 class="ex1" style="font-size:300%">A</h1> 
        </div>

<hr style="color:#757575"></hr>

			<div id="textbox">
  			<h2><i>Pride and Prejudice</i></h2>
  			    <p><i>H. Elizabeth Ellington on Landscape and the Filming </i></p>
                <br></br>
				<p style="color:#757575">Submitted 5/29/2015</p>
         <h1 class="ex1" style="font-size:300%">B</h1> 
        </div>

<hr style="color:#757575"></hr></p>

<div id="textbox">
  			<h2><i>Pride and Prejudice</i></h2>
  			    <p>Chapter 60 and 61</p>
                <br></br>
				<p style="color:#757575">Submitted 5/24/2015</p>
         <h1 class="ex1" style="font-size:300%">C</h1> 
        </div>
<hr style="color:#757575"></hr>
        </md-content>
      </md-tab>
      
      <!--tab 3-->
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

</body>
</html>
  
  
  
  
  
  

