<h2 class="pageTitle">{{classroom.classroomName}}</h2>
<md-divider class="navDivider navDividerMainPg" ng-if="!$last"></md-divider>

<div class="articlesContainer">
  <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="15px">
    <md-grid-tile md-ink-ripple ng-repeat="article in articleObjects | filter:articleQuery" class="md-whiteframe-z1 whiteBack" ng-class="{zRaise2: hover}" md-rowspan="2"ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <div class="feature articleContentCardDiv">
        <a href="http://localhost:9000/#/articles/{{article._id}}"></a>
        <div class="articleContentCard" ng-bind="article.content"></div>
        <md-grid-tile-footer>
          <h3 ng-bind="article.title" class="articleContentCardFooter"></h3>
        </md-grid-tile-footer>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>