<!-- obsolete but i will leave it incase you need it. this a a page dedicated for login. right now we do it through the nav bar. maybe change the nav bar mdDialog from template to templateUrl and use this doc as the Url. i couldnt get it working but im sure there is a way -->
<h3>Login</h3>
<form ng-submit="login(user)">
  <div>
    <label>Name</label>
    <input type="text" ng-model="user.username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" ng-model="user.password">
  </div>
  <button class="btn">Login</button>
</form>
