<!--Changing the style of the toolbar-->

<style>
	.mainToolbar{
		height: 18em !important;
		z-index: 0;
		position:absolute;
	}
</style>

<md-content class="articleCardContainer">

  <md-card class="articleCard">

	<p ng-bind="article.title" class="articleCardTitle"></p>
	<p ng-bind="article.author" class="articleCardAuthor"></p>
	<md-divider class="navDivider" ng-if="!$last"></md-divider>
	<p ng-bind="classroom.classroomName"></p>
	<p ng-bind="article.content" class="articleCardContent"></p>
	<p ng-bind="article.source" class="articleCardSource"></p>
  </md-card>

  <md-button class="md-raised md-warn deleteBtn" ng-click="showConfirm()" >
    Delete
  </md-button>

</md-content>
