<!-- fab button postioner and fabspeeddial3 -->
<div class="inflow">
    <div class="positioner">
        <div class="fabSpeedDial3" layout="column">
            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="updateClassroom" ng-disabled="edit.$invalid" ng-click="update(classroom)" class="md-fab">
                            <md-tooltip md-direction="down" md-delay="200" md-autohide="true">
                                Done!
                            </md-tooltip>
                            <ng-md-icon class="articleEditSubmit" icon="check" style="fill: white" size="24">
                            </ng-md-icon>
                        </md-button>
                    </md-fab-trigger>
                </md-fab-speed-dial>
            </div>
        </div>
    </div>
</div>
<!-- the edit part of the page -->
<div class="articlesPage">
    <p class="pageTitle">Edit Classroom</p>
    <form name="edit" ng-submit="update(classroom)">
        <div>
            <!-- edit the name -->
            <md-input-container>
                <label>Name</label>
                <input type="text" name="name" ng-model="classroom.name" ng-maxlength="50" required>
                <div class="errors" ng-messages="edit.name.$error" ng-show="edit.name.$touched">
                    <div ng-message="required">Required</div>
                    <div ng-message="maxlength">Title is too long!</div>
                </div>
            </md-input-container>
            <!-- edit the Desc -->
            <md-input-container>
                <label>Description</label>
                <textarea name="description" ng-model="classroom.description" ng-maxlength="1000" required></textarea>
                <div class="errors" ng-messages="edit.description.$error" ng-show="edit.description.$touched">
                    <div ng-message="required">You must have a course description!</div>
                    <div ng-message="maxlength">Description is too long!</div>
                </div>
            </md-input-container>
            <!--Edit Students-->
             <md-input-container>
                <label>Add Students</label>
                <textarea name="students" ng-model="classroom.students" ng-maxlength="1000" required></textarea>
                <div class="errors" ng-messages="createClassroom.students.$error" ng-show="createClassroom.students.$touched">
                    <div ng-message="required">You must add students!</div>
                    <div ng-message="maxlength">List is too long!</div>
                </div>
            </md-input-container>
        </div>
    </form>
</div>
