<div class="inflow">
  <div class="positioner">
    <div class="fabSpeedDial3" layout="column">
      <div class="lock-size" layout="row" layout-align="center center">
        <md-fab-speed-dial md-direction="down" ng-class="md-scale">
          <md-fab-trigger>
            <md-button aria-label="add Classroom" ui-sref="classrooms.new" class="md-fab">
              <md-tooltip md-direction="down" md-delay="200" md-autohide="true">
                New Classroom
              </md-tooltip>
              <ng-md-icon class="articleEditSubmit" icon="add" style="fill: white" size="24">
              </ng-md-icon>
            </md-button>
          </md-fab-trigger>
        </md-fab-speed-dial>
      </div>
    </div>     
  </div>
</div>

<div class="articlesPage">

	<p class="pageTitle">Classrooms</p>

	<md-input-container class="searchBarClassrooms"> 
    	<label>
      		<div class="searchIcon">
        		<ng-md-icon icon="search" size="15" style="fill: grey"></ng-md-icon>
      		</div>
      		search
      	</label>
    	<input type ="text" ng-model="classroomQuery">
  	</md-input-container>

	<md-card 
    ng-class="{zRaise2: hover}" 
    ng-mouseenter="hover = true" 
    ng-mouseleave="hover = false" 
    class="classroomCard" 
    ng-repeat="classroom in classrooms | filter:classroomQuery">
	    <a class="classroomCardATag" ui-sref="classrooms.show({ id: classroom._id})">
        <p class="classroomCardClassroom" ng-bind="classroom.name"></p> 
      </a>
	</md-card>

</div>