<h3>Edit Article</h3>
<form ng-submit="update(article)">
  <div>
		<md-input-container> 
		<label>Title</label>
		<input type ="text" name="title" ng-model="article.title">
		</md-input-container>
	</div>

	<div>
		<md-input-container> 
		<label>Source</label>
		<input type ="text" name="source" ng-model="article.source">
		</md-input-container>
	</div>

	<div>
		<md-input-container> 
		<label>Author</label>
		<input type ="text" name="author" ng-model="article.author">
		</md-input-container>
	</div>

	<div>
		<md-input-container>
		<label>Content</label>
		<input type="text" name="content" ng-model="article.content">
		</md-input-container>
	</div>

  <md-button class="md-primary md-raised btn">Update Article</button>
</form>
