<div>
    <style>
    .topToolbar {
        position: fixed;
    }
    </style>
    <div class="inflow">
        <div class="positioner2">
            <div class="fabSpeedDial2" layout="column">
                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                        <md-fab-trigger>
                            <md-button aria-label="articleCreateSubmit" ng-click="create(article)" class="md-fab md-color-confirm">
                                <md-tooltip md-direction="donw" md-delay="200" md-autohide="true">
                                    Done!
                                </md-tooltip>
                                <ng-md-icon class="articleEditSubmit" icon="check" style="fill: white" size="24">
                                </ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>
        <md-content class="articleCardContainer">
            <md-card class="articleCard">
                <form name="create" ng-submit="create(article)">
                    <div class="articleTitleInput">
                        <md-input-container>
                            <label>Title</label>
                            <input type="text" name="title" ng-model="article.title">
                        </md-input-container>
                    </div>
                    <div class="articleAuthorInput">
                        <md-input-container flex>
                            <label>Author</label>
                            <input type="text" name="author" ng-model="article.author">
                        </md-input-container>
                    </div>
                    <div class="articleSourceInput">
                        <md-input-container flex>
                            <label>Source</label>
                            <input type="text" name="source" ng-model="article.source">
                        </md-input-container>
                    </div>
                    <div class="articleClassroomInput">
                        <md-select class="classroomPicker" md-on-open="loadClassrooms()" ng-model="article.classroom" placeholder="Which Classroom?">
                            <md-option ng-repeat="classroom in classrooms" value="{{classroom._id}}">{{classroom.name}}</md-option>
                        </md-select>
                    </div>
                    <div class="articlePDFInput">
                        <md-input-container>
                            <input required type="file" name="pdf" ng-model="PDF" aria-label="pdf">
                            <div ng-messages="PDF.pdf.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </md-card>
        </md-content>
    </div>
</div>
