<div>
    <style>
    .topToolbar {
        position: fixed;
    }
    </style>
    <div class="inflow">
        <div class="positioner2">
            <div class="fabSpeedDial2" layout="column">
                <div class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-direction="down" ng-class="md-scale">
                        <md-fab-trigger>
                            <md-button ng-disabled="createArticlePdf.$invalid" aria-label="articleCreateSubmit" ng-click="create(article)" class="md-fab md-color-confirm">
                                <md-tooltip md-direction="donw" md-delay="200" md-autohide="true">
                                    Done!
                                </md-tooltip>
                                <ng-md-icon class="articleEditSubmit" icon="check" style="fill: white" size="24">
                                </ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>
        <md-content class="articleCardContainer">
            <md-card class="articleCard">
                <form name="createArticlePdf" ng-submit="create(article)">
                    <div class="articleTitleInput">
                        <md-input-container>
                            <label>Title</label>
                            <input type="text" name="title" ng-model="article.title" ng-maxlength="50">
                            <div class="errors" ng-messages="createArticlePdf.title.$error" ng-show="createArticlePdf.title.$touched">
                                <div ng-message="required">Required</div>
                                <div ng-message="maxlength">Title is too long!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="articleAuthorInput">
                        <md-input-container flex>
                            <label>Author</label>
                            <input type="text" name="author" ng-model="article.author" ng-maxlength="30">
                            <div class="errors" ng-messages="createArticlePdf.author.$error" ng-show="createArticlePdf.author.$touched">
                                <div ng-message="maxlength">Author is too long!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="articleSourceInput">
                        <md-input-container flex>
                            <label>Source</label>
                            <input type="text" name="source" ng-model="article.source" ng-maxlength="264">
                            <div class="errors" ng-messages="createArticlePdf.source.$error" ng-show="createArticlePdf.source.$touched">
                                <div ng-message="maxlength">Source is too long!</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="articleClassroomInput">
                        <md-input-container>
                            <label>Which Classrooom?</label>
                            <md-select class="classroomPicker" name="classroom" md-on-open="loadClassrooms()" ng-model="article.classroom" required>
                                <md-option ng-repeat="classroom in classrooms" value="{{classroom._id}}">{{classroom.name}}</md-option>
                            </md-select>
                            <div class="errors" ng-messages="createArticlePdf.classroom.$error" ng-if="createArticlePdf.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="articlePDFInput">
                        <md-input-container>
                            <input required type="file" name="pdf" ng-model="artice.pdf" aria-label="pdf">
                            <div class="errors" ng-messages="createArticlePdf.pdf.$error" ng-if="createArticlePdf.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </md-card>
        </md-content>
    </div>
</div>
